[build]
  publish = "/"
  functions = "netlify/functions"

[[redirects]]
  from = "/admin"
  to = "/admin/login.html"
  status = 302

[[redirects]]
  from = "/.netlify/functions/*"
  to = "/.netlify/functions/:splat"
  status = 200
